<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.software.notification" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalCare"
        tools:targetApi="31">

        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.SentPriscriptionPackage.SentPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.NearByClinicPackage.DoctorClinicActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorNotificationPackage.DoctorAppointmentNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.PaymentReceivedPackage.PaymentReceivedActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.PaymentHistoryPackage.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.HealthFilesPackage.PrescriptionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorCardActivities.PriscriptonPackage.PriscriptionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDD3hxwkjHg1honp0V7KSqmTZfnxOUqEMo" />

        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.UserLogoutActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.UserTermsAndConditionActivity"
            android:exported="false" />

        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.UserChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.HealthFilesPackage.HealthFilesActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.NearByClinicPackage.NearbyClinicActivity"
            android:exported="false" />
        <activity
            android:name=".UserModule.UserFragments.UserProfileComponentClasses.UserEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.TermsAndConditionActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.AlterSpecificationActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.ClinicLocationActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorProfileComponentClasses.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VideoCallPackage.ui.CallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagePackage.ImageViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagePackage.MessageModule"
            android:exported="false"
            android:label="@string/title_activity_message_module"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MedicalCare" />
        <activity
            android:name=".DoctorModule.DoctorCardActivities.RecievedAppointments"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModule.BookingAppointment.BookingDoctor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModule.UserCardActivities.DoctorListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadProfileImage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorModule.DoctorFragments.DoctorHomePage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorModule.DoctorSignup.DoctorSignup"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorModule.DoctorSignup.DoctorLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModule.UserLoginSignup.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UserModule.UserFragments.HomePage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModule.UserLoginSignup.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".MessagePackage.PushNotificationPackage.FirebasePushNotification"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
    </application>

</manifest>